@import url("variables.css");

.btn {
  background-color: var(--color-principal);
  color: white;
}

.btn-paginacion {
  background-color: white;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin: 5px;
  width: 32px;
  height: 32px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
}

.actual,
.actual:disabled {
  background-color: var(--color-principal);
  color: white;
  opacity: unset;
}

.btn-cerrar{
  background-color:white;
  color:var(--color-principal);
  border-color: var(--color-principal);
}
