@import url("variables.css");
@import url("textos.css");

.buscar {
  box-sizing: border-box;
  height: var(--height-buscador);
  border: var(--border-buscador);
}

.buscarSeleccion {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
