@import url("variables.css");
@import url("textos.css");

.buscar-texto {
  font-family: var(--fuente-text);
  font-style: normal;
  font-weight: 400;
  font-size: var(--texto-buscar-size);
  line-height: 17px;
}

.buscar-texto-btn {
  font-family: var(--fuente-text);
  font-style: normal;
  font-weight: 600;
  font-size: var(--texto-buscar-size);
  line-height: 17px;
  align-items: center;
  text-align: center;
  
}

.buscar-seleccion {
  font-size: var(--texto-buscar-size);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
