@import url("variables.css");

.grid {
  background:var(--color-contenido);
  border-radius: 25px 25px 0 0;
  height: 91vh;
  position: relative;
}

@media(min-height: 800px ) {
  .grid{
    height: 100vh;
  };
}