@import url("variables.css");

.navbar{
  background: var(--color-contenido);
}

.logo{
  width: 125px;
  height: 32px;
  text-align: center;
  align-items: center;
}

.icon-sidebar{
  text-align: right;
  align-items:end ;
  cursor: pointer;

}
  