@import url("variables.css");

.sidebar{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--color-contenido);
  margin-right: 10px;
  height: 93vh;
}

.iconos-sidebar{
  color:var(--color-principal-oscuro);
  margin-right: 10px;
}

.sidebar-contenido{
  padding: 20px;
  width: 100%;
  display: inline-block;
}

.sidebar-contenido:hover{ 
  background: #d6f5f3;
}

@media(max-width: 576px ) {
  .sidebar{
    height: 100%;
  };
} 

@media(min-height: 1000px ) {
  .sidebar{
    height: 100vh;
  };
}
