@import url("variables.css");

.titulo {
  font-family: var(--fuente-text);
  font-style: normal;
  font-weight: 700;
  font-size: var(--titulos-size);
  line-height: 24px;
  align-items: center;
  color: var(--color-text);
}

.cuerpo-texto {
  font-family: var(--fuente-text);
  font-style: normal;
  font-weight: 300;
  font-size: var(--texto-size);
  line-height: 15px;
}

.cabecera-texto {
  font-family: var(--fuente-text);
  font-style: normal;
  font-weight: 600;
  font-size: var(--texto-size);
  line-height: 17px;
}

.login-texto{
  font-family: var(--fuente-text);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.nombre-texto{
  font-family: var(--fuente-text);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color:var(--color-principal-oscuro);
}

.sidebar-texto{
  font-family: var(--fuente-text);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-text);

}