:root {
  --color-error: #bf1650;
  --color-principal: #42b04a;
  --titulos-size: 20px;
  --texto-size: 12px;
  --texto-buscar-size: 14px;
  --fuente-text: "Montserrat";
  --color-text: #000;
  --color-text-blanco: #fff;
  --border-buscador: 1px solid #c7c7c7;
  --height-buscador: 30px;
}
