:root {
  --color-error: #bf1650;
  --color-principal: #42b04a;
  --color-principal-oscuro: #06700D;
  --color-contenido:#F9F9F9;
  --titulos-size: 20px;
  --texto-size: 12px;
  --texto-buscar-size: 14px;
  --fuente-text: "Montserrat";
  --color-text: #000;
  --color-text-blanco: #fff;
  --border-buscador: 1px solid #c7c7c7;
  --height-buscador: 30px;
}

.correcto{
  border: 1px solid var(--color-principal) ;
  border-radius: 16px;
  box-sizing: border-box;
}

.error {
  border: 2px solid var(--color-error) ;
}
