:root {
  --color-error: #bf1650;
  --color-principal: #42b04a;
  --titulos-size: 20px;
  --texto-size: 12px;
  --fuente-text: "Montserrat";
  --color-text: #000000;
  --color-text_blanco: #ffffff;
  --border-buscador: 1px solid #c7c7c7;
  --height-buscador: 30px;
}
